<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div class="form-group col-6">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="username"
            [(ngModel)]="user.userName" #userName="ngModel" required />
    </div>
    @if(userName.invalid && userName.touched){
    <span class="text-danger">user is required</span>
    }
    <div class="form-group col-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="password"
            [(ngModel)]="user.password" #password="ngModel" required />
    </div>
    @if(password.invalid && password.touched){
    <span class="text-danger">password is required</span>
    }
    <div class="form-group">
        <label for="" class="form-check-label"><input type="checkbox" />Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
        Log in
    </button>
</form>